<!DOCTYPE html>
<html>
<meta charset='utf-8'>
<title> ToDo</title>
</head>
<center>
<body>
  <h2> 2 Do List </h2>
  <form class='' action='/list' method="post">
    <input type='text' name='task' placeholder='Add a todo...'>
    <button type='submit' name='submit'>Add ToDO</button>
  </form>
  <div class='items'>
    {{{yield}}}
  </div>
</body>
</center>
</html>
